body {
    margin: 0;
    padding: 0;
    background-color: rgb(131, 199, 162);
    color: navy
}

header {
    text-align: center;
    background-color: mediumseagreen;
    color: navy;
    
}

h1 {
    margin: 0;
    padding: 20px;
}

img
{
    width: 200px;
    display: block;
    margin: 0 auto;
}

header, footer {
    padding: 0 25px;
}

/* Class */
.highlight {
    font-family: sans-serif;
    background-color: yellow;
}